.header-container {
    background-image: linear-gradient(to right, transparent, $primary3 20%);
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 $side-margin;

    .app-nav {
        display: flex;
        gap: 20px;
        align-items: center;
        color: $primary2;

        .router-link-active {

            &::after {
                transform: scaleX(100%);
            }
        }

        ::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            border-bottom: 4px solid $secondary1;
            transition: all 0.3s;
            transform: scaleX(0%);
        }

        &>* {
            position: relative;
            color: inherit;
            text-decoration: none;

            &:hover::after {
                transform: scaleX(100%);
            }
        }

    }
}