.contact-list {
    position: relative;
    margin: auto;
    width: 300px;

    .contacts-preview {
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
        background-image: linear-gradient(to left, transparent, $primary3 50%);
        color: inherit;
        text-decoration: none;
        margin-block: 8%;
        padding: 5px 15px;
        width: 100%;
        border-radius: 3px;

        &:hover {
            background-image: linear-gradient(to left, transparent, $primary3 0%);

        }

        img {
            width: 50px;
            border-radius: 50%;
        }
    }

    button.delete {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -10px;
        left: -10px;
        background-color: $secondary1;
        color: $primary2;
        border: none;
        border-radius: 50%;
        height: 0;
        width: 0;
        padding: 12px;
        aspect-ratio: 1/1;
        cursor: pointer;
    }
}