.move-container {
    .title {
        margin-bottom: 20px;
    }
}

.move-list {
    .move-preview {
        display: flex;
        justify-content: start;
        align-items: center;
        background-color: $secondary2;
        margin-bottom: 20px;
        padding: 10px 20px;

        &>* {
            margin: 10px;
            flex-basis: 0;
            flex-grow: 1;

            span {
                font-weight: 600;
            }
        }
    }
}